.skills {
  margin-bottom: 120px;
}

.skills:last-of-type {
  margin-bottom: 0;
}

.skill-icon {
  font-size: 150px;
}

.skill-image {
  width: 125px;
  height: 125px;
}

.text-left {
  text-align: left;
}

.project {
  display: flex;
  margin-bottom: 50px;
  overflow: hidden;
}

.project-image {
  width: 500px;
  max-height: 350px;
  border-radius: 5px;
  margin-right: 50px;
  object-fit: contain;
  padding: 5px;
  border: 1px solid rgba(116, 116, 116, 0.2);
}
.project-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.project-info > p {
  text-align: start;
}

.project-buttons {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.project-buttons > li {
  padding: 0;
  margin-right: 10px;
}

@media screen and (max-width: 1076px) {
  .project {
    flex-direction: column;
    align-items: center;
  }

  .project-image {
    margin: 0;
    margin-bottom: 20px;
    max-height: 300px;
    padding: 5px;
    border: 1px solid rgba(116, 116, 116, 0.2);
  }

  .project-info {
    align-items: center;
  }

  .project-info > p {
    text-align: center;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nodejs {
  width: 150px;
  height: 125px;
}

.mysql {
  height: 150px;
}

.tag-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.tag-label {
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 14px;
}

.tag {
  background-color: rgba(192, 196, 251);
  color: white;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 14px;
}
